<div class="meta-line mt-5 mb-5">
    <i class="bi bi-eye-fill"></i> <%= counter %>
    <% if author == nil %>
        <%= link_to(t('signup_to_claim'), login_path, class: 'more-link more-link-author float-end') %>
    <% else %>
        <%= link_to("<i class='bi bi-person-circle'></i> @#{author.username_or_id}".html_safe, profile_path_enhanced(author), class: 'more-link more-link-author float-end') %>
    <% end %>
</div>