<% content_for :meta_head do %>
  <title><%= @meta_title %></title>
  <meta name="description" content="<%= @meta_description %>">
  <meta property="og:title" content="<%= @meta_title %>" />
  <meta property="og:description" content="<%= @meta_description %>" />
<% end %>
<h1>We couldn't find the page</h1>
<p class="lead">It's not that you just dropped your guitar pick.</p>
<p class="lead">We're changing some of our cool specs, so it's understandable that sometimes you might lost your way while navigating this website.</p>
<p class="lead">Worry not! We'll fix this ASAP if you care to tell us from our page below:</p>
<a href="https://youtube.com/c/tutorialgitar88" target="__blank" class="lead">YouTube</br>
<a href="https://fb.com/tutorialgitar88" target="__blank" class="lead">Facebook</a></br>
<a href="https://instagram.com/tutorialgitar88" target="__blank" class="lead">Instagram</p>