<div class="row mt-5 g-5">
  <div class="col-sm-3 text-center ">
    <div class="mt-4 mb-4">
        <%= image_pack_tag(
                "image-placeholder-#{rand(0...3)}.jpg",
                alt:"#{album.name} image",
                class: "img-thumbnail rounded"
            ) %>
    </div>
    <span class="mx-2 badge bg-warning rounded-pill fst-italic">
      <%= album.present? ? link_to(
              album.name,
              album_detail_path(album.slug),
              title: "Album: #{album.name}"
            ) : 'Add album?' %>
    </span>
  </div>
  <% @song.artists.each_with_index do |artist, index| %>
    <div class="col-6 col-sm-3 col-md-2 text-center">
      <div class="mt-4 mb-4">
          <%= image_pack_tag(
                        "image-placeholder-#{rand(0...3)}.jpg",
                        alt:"#{artist.name} image",
                        class: "img-thumbnail rounded-circle"
                    ) %>
      </div>
      <%= link_to(
                      artist.name,
                      artist_detail_path(artist.name.downcase.parameterize + "-" + artist.id.to_s),
                      class: 'badge rounded-pill bg-warning text-dark fst-italic '
                  ) %>
    </div>
  <% end %>
</div>
