<li class="nav-item">
  <a class="nav-link <%= 'active' if active %>" aria-current="page" href=<%= active ? "javascript:void(0)" : "#{href_link}" %>>
    <i class="bi <%= icon_class %>"></i> <%= href_text %></a>
</li>
