<div class="row">
    <div class="col-md-12">
        <div class="progress">
            <div
                class="progress-bar progress-bar-success progress-bar-striped progress-bar-animated"
                role="progressbar" 
                aria-valuenow="<%= audio_file.audio_file_splitfire_status.processing_progress %>"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: <%= audio_file.audio_file_splitfire_status.processing_progress %>%">
            </div>
        </div>
    </div>
</div>