<div class='spotify-content'>
    <%= t('onboarding_spotify_done') %>
    <div class='row'>
        <div class='col-md-6 offset-md-3'>
            <div>
                <img src='<%= asset_pack_path('media/images/badge-spotify-exporter.gif') %>' class='img-fluid rounded' alt='Spotify exporter'>
            </div>
            <button type='button' class='btn btn-primary mt-3 spotify'><%= t('next') %></button>
        </div>
    </div>
</div>