<div class='google-content'>
    <%= t('onboarding_google_done') %>
    <div class='row'>
        <div class='col-md-6 offset-md-3'>
            <div>
                <img src='<%= asset_pack_path('media/images/badge-youtube-exporter.gif') %>' class='img-fluid rounded' alt='Youtube exporter'>
            </div>
            <button type='button' class='btn btn-primary mt-3 google'><%= t('next') %></button>
        </div>
    </div>
</div>