<div class="row mt-5">
  <div class="col-md-12">
    <%= render('partial_menus', active_menu: 'friends' ) %>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-2">
    <%= render('partial_menus_friends', active_menu: '' ) %>
  </div>
  <div class="col-md-10">
    <%= t('find_your_friends') %>
  </div>
</div>